.container {
    margin: 1% 5%;
    z-index: 2;
    position: absolute;
    right: 0;
    left: 0;
}

.logo{
    width: 10vw;
}

.navigation {
    font-family: 'Abel', sans-serif;
}

.navigation:hover{
    color:#907730;
}

.selection {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    box-sizing: border-box;
    background: linear-gradient(36deg, rgba(2, 0, 36, 1) 8%, rgba(23, 23, 149, 1) 100%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
}

.menu:target {
    transform: translateX(0);
}


.bar {
    padding: 1% 5%;
}

.nav_mobile{
    align-self: center;
    width: fit-content;
    margin-top: 10vw;
}


@media(min-width:2000px){
    .logo{
        width: 10vw;
    }

    .navigation {
        font-size: 2vw;
    }
}


@media (max-width:768px) {

    .logo{
        width: 15vw;
    }
    .container {
        margin: 1% 2%;
    }

    .bar {
        padding: 1% 2%;
    }

}

@media (min-width:768px) {
    .menu {
        display: none;
    }
}


@media (max-width:425px) {

    .logo{
        width: 25vw;
    }

    .container {
        margin:  1% 1%;
    }

    .bar {
        padding: 1% 1%;
    }
}