.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.vid {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100%;
}


.box {
    margin-top: 5%;
}


.header {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 5vw;
    color: #907730;
}

.Grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 2%;
    margin: 5% 5%;
}

.holder {
    display: flex;
    position: relative;
    justify-content: center;
    transform-style: preserve-3d;
    /* transform: rotateY(180deg); */
}


.front,
.back {
    display: flex;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    flex-direction: column;
    backface-visibility: hidden;
    justify-items: center;
    align-items: center;
}

.back {
    display: flex;
    position: absolute;
    border-radius: 10%;
    background: rgba(128, 128, 128, 0.255);
    border: 5px solid white;
    transform: rotateY(180deg);
}



.pic {
    display: flex;
    width: 50%;
    height: 40%;
    border-radius: 80%;
    object-fit: cover;
}

.name {
    margin-top: 2vw;
    color: #907730;
    font-size: 1.5vw;
}

.title {
    font-size: 1.5vw;
}

.btn {
    background: #907730;
    border-radius: 10%;
    padding: 5%;
    margin-top: 5vw;
    font-size: 1.5vw;
}

@media (max-width:1200px) {

    .Grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 2%;
        row-gap: 2%;
        margin: 5% 5%;
    }
}

@media(max-width:768px) {
    .header {
        font-size: 8vw;
    }

    .pic {
        width: 60%;
        height: 40%;
    }

    .name {
        margin-top: 5vw;
        font-size: 4vw;
    }

    .title {
        font-size: 2vw;
    }
}

@media (max-width:425px) {

    .Grid {
        display: flex;
        flex-direction: column;
        row-gap: 20vw;
        margin: 7% 2%;
    }

    .holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pic {
        width: 80%;
        height: 65vw;
        border-radius: 80%;
        object-fit: cover;
    }

    .name {
        font-size: 8vw;
    }

    .title {
        font-size: 4vw;
    }

    .btn {
        font-size: 5vw;
    }
}