.container {
    padding: 3% 7%;
}

.bar {
    display: flex;
    row-gap: 5vw;
}

.bar_2 {
    gap: 10vw;
}

.bar_3 {
    display: flex;
    row-gap: 1vw;
}

.title {
    font-size: 3vw;
}

.title_2 {
    font-size: 2vw;
}

.mail {
    font-size: 1.5vw;
    color: #907730;
}

.date_time {
    font-size: 1.5vw;
}

@media(max-width:768px) {
    .title {
        font-size: 5vw;
    }

    .title_2{
        font-size: 4vw;
    }

    .mail{
        font-size: 2vw;
    }

    .date_time{
        font-size: 2vw;
    }
}

@media (max-width:425px) {
    .container {
        padding: 4% 3%;
        align-items: start;
        flex-direction: column;
    }

    .title {
        font-size: 8vw;
    }

    .title_2{
        font-size: 7vw;
    }

    .mail{
        font-size: 5vw;
    }

    .bar_2{
        flex-direction: column;
    }

    .bar_3{
        margin-top: 7vw;
        row-gap: 2vw;
    }

    .date_time{
        font-size: 4vw;
    }
}